version: "3.9"

services:
    app:
        container_name: lad-dashboard
        image: nginx:alpine
        restart: always
        volumes:
            - "./frontend:/app"
            - "./nginx.conf:/etc/nginx/conf.d/default.conf"
        ports:
            - "8080:80"
    db:
        container_name: lad_db
        image: postgres:14
        restart: always
        environment:
            POSTGRES_PASSWORD: P@ssw0rd
        ports:
            - "25432:5432"
        volumes:
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    backend:
        container_name: lad-backend
        build:
            context: .
            dockerfile: Dockerfile-backend
        volumes:
            - "./backend/lad_backend:/app"
        command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8090"
        depends_on:
            - db
        ports:
            - "8090:8090"
            